
.container{
    @apply my-6 xs:my-12 lg:my-20;
}
.slide_content{
    @apply text-[2rem] xs:text-[3rem] sm:text-[4rem] md:text-[4.8rem] lg:text-[5.5rem] 2xl:text-[7rem] 4xl:text-[8rem] font-black uppercase text-light_1 whitespace-nowrap;
    @apply py-10 lg:py-14 bg-primary_1 overflow-x-hidden;
    @apply flex flex-row justify-center;
    word-spacing: 0.5rem;
    @screen xs{
        word-spacing: 1rem;
    }
    @screen md{
        word-spacing: 2rem;
    }
}