@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100vw;
  overflow-x: hidden !important;
  overflow-y: hidden !important;;
  width: 100%;
  height: 100vh;
  min-width: 100%;
}

#scroller{
  
  overflow-x: hidden !important;
  overflow-y: hidden !important;;
  height: 100vh;
  width: 100%;
}


@layer base{
  html, h1,h2,h3,h4,h5,h6, p, span,em, li, strong, a, button, input {
    @apply font-sans;
  }
}

@layer text{
  @import "text.scss";
}

.section{
  @apply overflow-x-hidden w-screen;
}


