$primary: 'light_1';
$secondary: 'grey_1';
$secondaryGrey: 'grey_2';
$contrast: 'dark_5';

.title {

  &_h1 {
    @apply text-3xl xxs:text-4xl xs:text-5xl sm:text-6xl lg:text-6xl 2xl:text-7xl;
    @apply font-extrabold tracking-wider leading-normal align-middle ;
  }

  &_h2 {
    @apply text-3xl xxs:text-4xl lg:text-5xl xl:text-6xl;
    @apply font-extrabold tracking-wider;
    @apply leading-tight align-middle ;
  }

  &_h3 {
    @apply text-xl xxs:text-2xl sm:text-3xl xl:text-4xl;
    @apply font-extrabold tracking-wider align-middle ;
  }
  

  &_h4 {
    @apply text-xl lg:text-2xl;
    @apply font-extrabold tracking-wide align-middle ;
  }

  &_h5 {
    @apply text-tiny xs:text-lg;
    @apply font-bold tracking-wide align-middle ;
  }
  &_h6 {
    @apply text-xs xxs:text-sm;
    @apply font-bold tracking-wide;
  }
}

.tag {
  &_md {
    @apply text-xxs sm:text-xs lg:text-tiny font-extrabold tracking-wide capitalize;
  }
}

.para {
  &_lg {
    @apply text-lg;
    @apply font-medium tracking-wider leading-8;
  }

  &_md {
    @apply text-xs xxs:text-sm md:text-tiny 3xl:text-base;
    @apply font-medium tracking-widest xs:tracking-wider;
    @apply leading-6 md:leading-7;
  }

  &_sm {
    @apply text-xs md:text-sm 3xl:text-tiny;
    @apply font-medium tracking-wider leading-5 sm:leading-6;
  }

  &_xs {
    @apply text-xs;
    @apply font-medium tracking-wider;
  }
}